{% import '_macros/form/form.html.twig' as form_macros %}
<div class="flex-grow">
    <h3 class="text-xl font-semibold mb-4">Preferences</h3>
    {{ form_start(userPreferencesForm) }}
    <div class="flex justify-between">
        {{ form_label(userPreferencesForm.isGravatarEnabled, 'Enable Gravatar', {'label_attr': {'class': 'block text-sm font-bold mb-2 text-left cursor-normal'}}) }}
        {{ form_widget(userPreferencesForm.isGravatarEnabled) }}
    </div>
    <div class="flex justify-between">
        {{ form_label(userPreferencesForm.isFullAppListingEnabled, 'Enable Full App Listing', {'label_attr': {'class': 'block text-sm font-bold mb-2 text-left cursor-normal'}}) }}
        {{ form_widget(userPreferencesForm.isFullAppListingEnabled) }}
    </div>
</div>
<div class="flex justify-end pt-3 mt-4 xl:m-0 xl:p-0">
    {{ form_macros.save_button(userPreferencesForm) }}
    {{ form_row(userPreferencesForm._token) }}
    {{ form_end(userPreferencesForm, {'render_rest': false}) }}
</div>
