{% extends 'pages/settings/base.html.twig' %}

{% block title %}PHP Settings - {{ app.request.server.get('SITE_NAME') }}
{% endblock %}

{% block body %}
    {% import '_macros/settings.html.twig' as settings_macro %}
    {% import '_macros/breadcrumb.html.twig' as breadcrumb %}
    {% import '_macros/form/form.html.twig' as form_macros %}
	<div class="max-w-8xl md:mx-auto md:px-auto lg:px-6">
		<div class="xl:pt-[2.3615rem] pt-[15rem]">
			<div class="xl:pl-[25rem]">
				<div class="w-full mx-auto pt-10 xl:max-w-none xl:ml-4 rounded-xl mb-4">
					{{ breadcrumb.add('PHP Settings', 'https://mediaease.github.io/docs/')  }}
                    {{ settings_macro.infobox(
                        'warning', 
                        'Adjustments here can significantly affect the performance and behavior of your applications.', 
                        'Before making changes, ensure you understand the implications of each setting. Incorrect configurations may disrupt your service. For detailed guidance, refer to the <a href="link-to-documentation" class="text-sky-500 dark:text-sky-400 hover:underline">PHP configuration documentation</a>.',
                        'external'
                    ) }}
					<div id="content-wrapper" class="relative px-4 prose prose-slate mt-8 dark:prose-dark pb-3 mb-4 bg-gray-200/55 dark:bg-gray-900/85 rounded-lg">
                        {{ form_start(form) }}
                        {% set sections = ['PHP', 'Session', 'Mail', 'Opcache', 'PHP-FPM'] %}

                        {% for section in sections %}
                            <div class="section-header py-2">
                                <h2>{{ section }}</h2>
                            </div>
                            <div class="flex flex-wrap -mx-3 xl:py-2">
                                {% for field in attribute(form, section) %}
                                    <div class="w-full xl:w-1/2 px-3 xl:mb-6 md:mb-0 pt-2 xl:p-0">
                                        {% set fieldName = field.vars.name %}
                                        {{ form_label(field) }}
                                        {% if 'force_extra_parameters' in fieldName %}
                                            {{ form_widget(field, {'attr': {'class': 'form-widget cursor-not-allowed disabled:bg-gray-200 disabled:text-gray-600 disabled:border-gray-300 dark:disabled:bg-gray-700 dark:disabled:text-gray-400 dark:disabled:border-gray-600 disabled:shadow-none'}}) }}
                                        {% else %}
                                            {{ form_widget(field, {'attr': {'class': 'form-widget'}}) }}
                                        {% endif %}
                                        {{ form_errors(field) }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}

                        <div class="flex justify-end pt-3 mt-4 mb-2 xl:m-0 xl:p-0">
                            {{ form_macros.save_button(form) }}
                        </div>
                        {{ form_row(form._token) }}
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}
