{% extends 'pages/settings/base.html.twig' %}

{% block title %}General Settings - {{ app.request.server.get('SITE_NAME') }}
{% endblock %}

{% block body %}
	{% import '_macros/settings.html.twig' as settings_macro %}
	{% import '_macros/breadcrumb.html.twig' as breadcrumb %}
	{% import '_macros/form/form.html.twig' as form_macros %}
	<div class="max-w-8xl md:mx-auto md:px-auto lg:px-6">
		<div class="xl:pt-[2.3615rem] pt-[15rem]">
			<div class="xl:pl-[25rem]">
				<div class="w-full mx-auto pt-10 xl:max-w-none xl:ml-4 rounded-xl mb-4">
					{{ breadcrumb.add('SMTP Settings', 'https://mediaease.github.io/docs/')  }}
					{{ settings_macro.infobox(
						'info',
						'Be cautious when modifying SMTP settings. Incorrect configurations can disrupt email delivery.',
						'For detailed information, refer to the <a href="your-documentation-link" class="text-sky-500 dark:text-sky-400 hover:underline">SMTP configuration documentation</a>.',
						'external'
					) }}
					<div id="content-wrapper" class="relative px-4 pt-6 prose prose-slate mt-8 dark:prose-dark pb-3 mb-4">
						{{ form_start(form) }}
						<div class="flex flex-wrap -mx-3 xl:py-2">
							<div class="w-full px-3 md:mb-0 pt-2 xl:p-0">
								{{ form_macros.iconed_label(form, 'mail_protocol', 'mail') }}
								{{ form_widget(form.mail_protocol, {'attr': {'class': 'form-widget'}}) }}
								{{ form_macros.iconed_error(form, 'mail_protocol') }}
							</div>
                        </div>
                        <div class="flex flex-wrap -mx-3 xl:py-2">
							<div class="w-full px-3 md:mb-0 pt-2 xl:p-0">
								{{ form_macros.iconed_label(form, 'mail_parameters', 'mail') }}
								{{ form_widget(form.mail_parameters, {'attr': {'class': 'form-widget'}}) }}
								{{ form_macros.iconed_error(form, 'mail_parameters') }}
							</div>
                        </div>
                        <div class="flex flex-wrap -mx-3 xl:py-2">
							<div class="w-full px-3 md:mb-0 pt-2 xl:p-0">
								{{ form_macros.iconed_label(form, 'smtp_hostname', 'mail') }}
								{{ form_widget(form.smtp_hostname, {'attr': {'class': 'form-widget'}}) }}
								{{ form_macros.iconed_error(form, 'smtp_hostname') }}
							</div>
                        </div>
                        <div class="flex flex-wrap -mx-3 xl:py-2">
                            <div class="w-full px-3 md:mb-0 pt-2 xl:p-0">
								{{ form_macros.iconed_label(form, 'smtp_username', 'mail') }}
								{{ form_widget(form.smtp_username, {'attr': {'class': 'form-widget'}}) }}
								{{ form_macros.iconed_error(form, 'smtp_username') }}
							</div>
						</div>
                        <div class="flex flex-wrap -mx-3 xl:mb-2">
                            <div class="w-full px-3 md:mb-0 pt-2 xl:p-0">
								{{ form_macros.iconed_label(form, 'smtp_password', 'mail') }}
								{{ form_widget(form.smtp_password, {'attr': {'class': 'form-widget', 'placeholder': '*********'}}) }}
								{{ form_macros.iconed_error(form, 'smtp_password') }}
							</div>
						</div>
                        <div class="flex flex-wrap -mx-3 xl:mb-2">
                            <div class="w-full md:w-1/2 px-1 md:mb-0">
                                {{ form_macros.iconed_label(form, 'smtp_port', 'mail') }}
                                {{ form_widget(form.smtp_port, {'attr': {'class': 'form-widget'}}) }}
								{{ form_macros.iconed_error(form, 'smtp_port') }}
                            </div>
                            <div class="w-full md:w-1/2 px-1 md:mb-0">
                                {{ form_macros.iconed_label(form, 'smtp_timeout', 'mail') }}
                                {{ form_widget(form.smtp_timeout, {'attr': {'class': 'form-widget'}}) }}
								{{ form_macros.iconed_error(form, 'smtp_timeout') }}
                            <div class="flex justify-end pt-3 mt-4 mb-2 xl:m-0">
                                {{ form_macros.save_button(form) }}
                            </div>
                        </div>
						{{ form_errors(form) }}
						{{ form_row(form._token) }}
						{{ form_end(form, {'render_rest': false}) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
