{% extends 'settings/base.html.twig' %}

{% block title %}General Settings - {{ app.request.server.get('SITE_NAME') }}
{% endblock %}

{% block body %}
	<div class="max-w-8xl md:mx-auto md:px-auto lg:px-6">
		<div class="xl:pt-[2.3615rem] pt-[15rem]">
			<div class="xl:pl-[25rem]">
				<div class="w-full mx-auto pt-10 xl:max-w-none xl:ml-4 rounded-xl mb-4 ">
					<header id="header" class="relative bg-transparent">
						<div class="px-4">
							<p class="text-left text-2xl mb-2 leading-6 font-semibold text-sky-500 dark:text-sky-400">Settings</p>
							<div class="flex items-center">
								<h1 class="inline-block text-2xl sm:text-3xl font-extrabold text-slate-900 tracking-tight dark:text-slate-200">SMTP Settings</h1>
							</div>
						</div>
						{% if catchphrase is defined and not null %}
							<p class="mt-2 text-lg text-slate-700 dark:text-slate-400"></p>
						{% endif %}
					</header>
					<div id="content-wrapper" class="relative px-4 pt-6 prose prose-slate mt-8 dark:prose-dark pb-3 mb-4">
						{{ form_start(form) }}
						<div class="flex flex-wrap -mx-3 xl:mb-2">
							<div class="w-full px-3 md:mb-0 pt-2 xl:p-0">
								<label class="text-left block md:ml-2 uppercase tracking-wide text-slate-600 dark:text-slate-200 text-md xl:text-xs font-bold mb-2 pt-2 lg:pt-0">
									{{ form_label(form.mail_protocol) }}
                                        <span
                                            class="inline-block rounded text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-200 focus:bg-primary-accent-200 focus:outline-none focus:ring-0 active:bg-primary-accent-200 dark:bg-primary-300 dark:hover:bg-primary-400 dark:focus:bg-primary-400 dark:active:bg-primary-400"
                                            data-te-toggle="tooltip"
                                            data-te-html="true"
                                            data-te-ripple-init
                                            data-te-ripple-color="light"
                                            title="{{ 'forms.help.mail_protocol'|trans }}">
                                            {{ heroicon('question-mark-circle', 'ml-2 mt-2 -pb-5 h-5 w-5 text-gray-500') }}
                                        </span>
								</label>
								{{ form_widget(form.mail_protocol, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-700 dark:border-gray-200 rounded py-3 px-4 md:w-[98%] mx-auto leading-tight focus:outline-none focus:bg-gray-200 focus:border-gray-300'}}) }}
							</div>
                        </div>
                        <div class="flex flex-wrap -mx-3 xl:mb-2">
							<div class="w-full px-3 md:mb-0 pt-2 xl:p-0">
								<label class="text-left block md:ml-2 uppercase tracking-wide text-slate-600 dark:text-slate-200 text-md xl:text-xs font-bold mb-2 pt-2 lg:pt-2">
									{{ form_label(form.mail_parameters) }}
								</label>
								{{ form_widget(form.mail_parameters, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-700 dark:border-gray-200 rounded py-3 px-4 md:w-[98%] mx-auto leading-tight focus:outline-none focus:bg-gray-200 focus:border-gray-300'}}) }}
							</div>
                        </div>
                        <div class="flex flex-wrap -mx-3 xl:mb-2">
                            <div class="w-full px-3 md:mb-0 pt-2 xl:p-0">
								<label class="text-left block md:ml-2 uppercase tracking-wide text-slate-600 dark:text-slate-200 text-md xl:text-xs font-bold mb-2 pt-2 lg:pt-2">
									{{ form_label(form.smtp_hostname) }}
								</label>
								{{ form_widget(form.smtp_hostname, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-700 dark:border-gray-200 rounded py-3 px-4 md:w-[98%] mx-auto leading-tight focus:outline-none focus:bg-gray-200 focus:border-gray-300'}}) }}
							</div>
                        </div>
                        <div class="flex flex-wrap -mx-3 xl:mb-2">
                            <div class="w-full px-3 md:mb-0 pt-2 xl:p-0">
								<label class="text-left block md:ml-2 uppercase tracking-wide text-slate-600 dark:text-slate-200 text-md xl:text-xs font-bold mb-2 pt-2 lg:pt-2">
									{{ form_label(form.smtp_username) }}
								</label>
								{{ form_widget(form.smtp_username, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-700 dark:border-gray-200 rounded py-3 px-4 md:w-[98%] mx-auto leading-tight focus:outline-none focus:bg-gray-200 focus:border-gray-300'}}) }}
							</div>
						</div>
                        <div class="flex flex-wrap -mx-3 xl:mb-2">
                            <div class="w-full px-3 md:mb-0 pt-2 xl:p-0">
								<label class="text-left block md:ml-2 uppercase tracking-wide text-slate-600 dark:text-slate-200 text-md xl:text-xs font-bold mb-2 pt-2 lg:pt-2">
									{{ form_label(form.smtp_password) }}
								</label>
								{{ form_widget(form.smtp_password, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-700 dark:border-gray-200 rounded py-3 px-4 md:w-[98%] mx-auto leading-tight focus:outline-none focus:bg-gray-200 focus:border-gray-300'}}) }}
							</div>
						</div>
                        <div class="flex flex-wrap -mx-3 xl:mb-2">
                            <div class="w-full md:w-1/2 px-1 md:mb-0">
                                <label class="text-left block md:ml-2 uppercase tracking-wide text-slate-600 dark:text-slate-200 text-md xl:text-xs font-bold mb-2 pt-2 lg:pt-2">
                                    {{ form_label(form.smtp_port) }}
                                </label>
                                {{ form_widget(form.smtp_port, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-700 dark:border-gray-200 rounded py-3 px-4 md:w-[98%] mx-auto leading-tight focus:outline-none focus:bg-gray-200 focus:border-gray-300'}}) }}
                            </div>
                            <div class="w-full md:w-1/2 px-1 md:mb-0">
                                <label class="text-left block md:ml-2 uppercase tracking-wide text-slate-600 dark:text-slate-200 text-md xl:text-xs font-bold mb-2 pt-2 lg:pt-2">
                                    {{ form_label(form.smtp_timeout) }}
                                </label>
                                {{ form_widget(form.smtp_timeout, {'attr': {'class': 'appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-700 dark:border-gray-200 rounded py-3 px-4 md:w-[98%] mx-auto leading-tight focus:outline-none focus:bg-gray-200 focus:border-gray-300'}}) }}
                            <div class="flex justify-end pt-3 mt-4 mb-2 xl:m-0">
                                <button class="iconed-button bg-green-500 hover:bg-green-700 text-white font-bold pl-3 rounded h-[2.75rem] pr-[1.25rem] mr-1">
                                    {{ heroicon(form.save.vars.icon_before, 'icon ' ~ form.save.vars.icon_class)|raw }}{{ form.save.vars.label }}
                                </button>
                            </div>
                        </div>
						{{ form_errors(form) }}
						{{ form_row(form._token) }}
						{{ form_end(form, {'render_rest': false}) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
