{% extends 'settings/base.html.twig' %}

{% block title %}General Settings - {{ app.request.server.get('SITE_NAME') }}
{% endblock %}

{% block body %}
	{% import '_macros/settings_macro.html.twig' as settings_macro %}
	{% import '_macros/breadcrumb.html.twig' as breadcrumb %}
	{% import '_macros/form_macros.html.twig' as form_macros %}
	<div class="max-w-8xl md:mx-auto md:px-auto lg:px-6">
		<div class="xl:pt-[2.3615rem] pt-[15rem]">
			<div class="xl:pl-[25rem]">
				<div class="w-full mx-auto pt-10 xl:max-w-none xl:ml-4 rounded-xl mb-4">
					{{ breadcrumb.add('General Settings', 'https://mediaease.github.io/docs/')  }}
					{{ settings_macro.infobox(
                        'info', 
                        'This page allows you to manage general settings for your MediaEase installation.', 
                        'These settings help you configure key aspects of your media center environment, including enabling or disabling transcoding features for supported media centers. For further details, you may refer to the <a href="link-to-documentation" class="text-sky-500 dark:text-sky-400 hover:underline">General Settings documentation</a>.',
                        'external'
                    ) }}
					<div id="content-wrapper" class="relative px-4 prose prose-slate mt-8 dark:prose-dark pb-3 mb-4">
						<div class="container mx-auto p-6">
        <h1 class="text-2xl font-bold mb-4">App Information</h1>
        <table class="min-w-full bg-white dark:bg-gray-800">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b border-gray-200 dark:border-gray-700">App Name</th>
                    <th class="py-2 px-4 border-b border-gray-200 dark:border-gray-700">Username</th>
                    <th class="py-2 px-4 border-b border-gray-200 dark:border-gray-700">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for app in apps %}
                    {% set parts = app.name|split('@') %}
                    {% set app_name = parts[0]|capitalize %}
                    {% set app_username = parts[1]|replace({'.service': ''}) %}
                    <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                        <td class="py-2 px-4 border-b border-gray-200 dark:border-gray-700">{{ app_name }}</td>
                        <td class="py-2 px-4 border-b border-gray-200 dark:border-gray-700">{{ app_username }}</td>
                        <td class="py-2 px-4 border-b border-gray-200 dark:border-gray-700">
                            <a href="" class="text-blue-500 dark:text-blue-400 hover:underline">Enable</a>
                            <a href="" class="text-red-500 dark:text-red-400 hover:underline">Disable</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
