{% extends 'pages/settings/base.html.twig' %}

{% block title %}Access Groups Settings - {{ app.request.server.get('SITE_NAME') }}
{% endblock %}

{% block body %}
	{% import '_macros/settings.html.twig' as settings_macro %}
	{% import '_macros/breadcrumb.html.twig' as breadcrumb %}
	{% import '_macros/form/buttons.html.twig' as form_macros %}
	<div class="max-w-8xl md:mx-auto md:px-auto lg:px-6">
		<div class="xl:pt-[2.3615rem] pt-[15rem]">
			<div class="xl:pl-[25rem]">
				<div class="w-full mx-auto pt-1 xl:max-w-none xl:ml-4 rounded-xl mb-4">
					{{ breadcrumb.add('Access Groups Settings', 'https://mediaease.github.io/docs/')  }}
					{{ settings_macro.infobox(
                        'info', 
                        'The below settings helps to define how your system is represented and monitored by your MediaEase instance.', 
                        'While these settings do not directly impact the core functionality of your system, it\'s good to ensure they accurately represent your setup. For further details, you may refer to the <a href="link-to-documentation" class="text-sky-500 dark:text-sky-400 hover:underline">General Settings documentation</a>.',
						'external'
                    ) }}
					<div class="flex justify-end items-center mt-4">
                        <div class="flex items-center space-x-4">
                            <button
                                type="button"
                                class="iconed-button bg-green-500 hover:bg-green-700 text-white font-bold pl-[0.75rem] rounded h-[2.5rem] pr-[0.75rem]"
                                data-te-toggle="modal"
                                data-te-ripple-init
                                data-te-ripple-color="light">
                                {{ ux_icon('heroicons:plus', {class: 'h-5 w-5 mr-2 fill-white'}) }} <a href="{{ path('app_settings_access_groups_new') }}">Create new</a>
                            </button>
                        </div>
                    </div>
                    <section class="mb-32 mt-6 text-center">
                        <div class="grid lg:grid-cols-3 lg:gap-x-2">
                            {% for group in groupApplications %}
                                <div class="card-container mb-16 lg:mb-0 p-2 relative group">
                                    <div class="flex flex-col h-full bg-gray-200/85 dark:bg-gray-900/85 shadow-md rounded-xl hover:shadow-xl hover:scale-105 transition duration-300 ease-in-out p-6">
                                        <div class="mb-2 pb-2 flex items-center border-b border-gray-600">
                                            <img src="https://res.cloudinary.com/williamsondesign/abstract-2.jpg" alt="" class="rounded-3xl w-10 h-10" />
                                            <span class="flex-grow text-center text-xl font-semibold text-slate-600 dark:text-slate-200">{{ group.group.name|capitalize }}</span>
                                        </div>
                                        <ul class="flex-grow mb-10 font-medium">
                                            {% for applications in group.applications %}
                                                <li class="flex text-slate-600 dark:text-slate-200">
                                                    {{ ux_icon('heroicons:check', {class: 'h-6 w-6 mr-2 stroke-green-500 dark:stroke-green-200 text-green-300 dark:text-green-500 fill-green-500 dark:fill-green-300' }) }}
                                                    <span class="ml-3">{{ applications.name }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        {% if group.editable == true %}
                                            <div class="flex justify-between items-center mt-4 rounded-xl py-2 px-3 text-center text-slate-600 dark:text-slate-200">
                                                <button
                                                    type="button"
                                                    class="iconed-button flex justify-center bg-sky-500 hover:bg-sky-700 text-white font-bold pl-[0.75rem] rounded h-[2.5rem] pr-[0.75rem]">
                                                    {{ ux_icon('heroicons:pencil-square', 'h-5 w-5 mr-2 fill-white') }} <a href="{{ path('app_settings_access_groups_new') }}">Edit Group</a>
                                                </button>
                                                <button
                                                    type="button"
                                                    class="iconed-button flex justify-center font-bold pl-[0.75rem] rounded h-[2.5rem]">
                                                    {{ ux_icon('heroicons:trash', {class: 'h-5 w-5 mr-2 fill-red-500 dark:fill-red-300 hover:fill-red-700 dark:hover:fill-red-500'}) }} <a href="{{ path('app_settings_access_groups_new') }}"></a>
                                                </button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                <span colspan="3">no records found</span>
                            {% endfor %}
                        </div>
                    </section>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
