<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %} - {{ app.request.server.get('SITE_NAME') }}{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="bg-fixed bg-gray-100 dark:bg-gray-800" id="page-content" data-container-id={{ user.apiKey }}>
		{% include "components/navigation/sidebar.html.twig" %}
        {% import '_macros/backdrop.html.twig' as backdrop %}
		<div class="bottom-0 left-0 right-0 top-0 h-full w-full bg-fixed p-6 text-center background-cover text-white/80"
			{{ backdrop.init(user) }}
			>
			{% block body %}{% endblock %}
		</div>
		<div
            id="toast-container z-[1050]"
            class="fixed bottom-0 right-0 p-4"
			{% for type, messages in app.flashes %}
				{% for message in messages %}
					{{ include('components/utility/toast.html.twig', {
						type: type,
						title: type|capitalize ~ '!',
						body: message
					}) }}
				{% endfor %}
			{% endfor %}
        	>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
	</body>
</html>
