{% import '_macros/form_macros.html.twig' as form_macros %}
<div class="flex-grow">
    <h3 class="text-xl font-semibold mb-4">Change your password</h3>
    {{ form_start(changeUserPassForm) }}
    {{ form_label(changeUserPassForm.currentPassword, 'Current Password', {'label_attr': {'class': 'block text-sm font-bold mb-2 text-left'}})}}
    {{ form_widget(changeUserPassForm.currentPassword, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline bg-gray-100 dark:bg-gray-800'}}) }}
    {{ form_macros.error_with_icon(changeUserPassForm, 'currentPassword') }}
    {{ form_label(changeUserPassForm.plainPassword.first, 'New Password', {'label_attr': {'class': 'block text-sm font-bold my-2 mt-4 text-left'}})}}
    {{ form_widget(changeUserPassForm.plainPassword.first, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline bg-gray-100 dark:bg-gray-800'}}) }}
    {{ form_label(changeUserPassForm.plainPassword.second, 'Confirm Password', {'label_attr': {'class': 'block text-sm font-bold my-2 mt-4 text-left'}})}}
    {{ form_widget(changeUserPassForm.plainPassword.second, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline bg-gray-100 dark:bg-gray-800'}}) }}
    {{ form_macros.error_with_icon(changeUserPassForm, 'plainPassword') }}
</div>
<div class="flex justify-start flex-row-reverse items-center mb-4 xl:m-0 xl:p-0 py-3">
    {{ form_macros.save_button(changeUserPassForm) }}
</div>
{{ form_row(changeUserPassForm._token) }}
{{ form_end(changeUserPassForm, {'render_rest': false}) }}
