{% extends 'pages/settings/base.html.twig' %}

{% block title %}Access Logs - {{ app.request.server.get('SITE_NAME') }}
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('logs') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('logs') }}
{% endblock %}

{% block body %}
	{% import '_macros/settings.html.twig' as settings_macro %}
	{% import '_macros/breadcrumb.html.twig' as breadcrumb %}
	<div class="max-w-8xl md:mx-auto md:px-auto lg:px-6">
		<div class="xl:pt-[2.3615rem] pt-[15rem]">
			<div class="xl:pl-[25rem]">
				<div class="w-full mx-auto pt-10 xl:max-w-none xl:ml-4 rounded-xl mb-4">
					{{ breadcrumb.add('Access Logs Overview', 'https://mediaease.github.io/docs/')  }}
					{{ settings_macro.infobox(
                        'info', 
                        'This page provides a detailed overview of all access logs recorded in the system. You can monitor and review the types of access, timestamps, content of logs, and originating IP addresses.',
                        'Regularly reviewing these logs can help in identifying any unusual or suspicious activities. For more information, refer to the <a href="link-to-documentation" class="text-sky-500 dark:text-sky-400 hover:underline">Access Logs documentation</a>.',
                        'external'
                    ) }}
					<div id="content-wrapper" class="relative px-4 mt-8 dark:prose-dark pb-3 mb-4 bg-gray-200/55 dark:bg-gray-900/85 rounded-lg">
                        <div class="overflow-x-auto">
                            <div class="relative my-4 flex w-full flex-wrap items-stretch">
                                <input id="log-finder" type="search" class="relative m-0 -mr-0.5 block min-w-0 flex-auto border-none rounded-md shadow-sm bg-gray-100 dark:bg-gray-800 bg-clip-padding text-neutral-700 focus:border focus:border-indigo-500 focus:ring-indigo-500 px-3 py-[0.25rem] text-base font-normal leading-[1.6] outline-none transition duration-200 ease-in-out focus:z-[3] focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary" placeholder="Search" aria-label="Search" aria-describedby="log-finder-button"/>
                                <button class="relative z-[2] flex items-center rounded-r bg-transparent px-6 py-2.5 text-xs font-medium uppercase leading-tight text-white transition duration-150 ease-in-out hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg" type="button" id="log-finder-button" data-te-ripple-init data-te-ripple-color="light">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                                        <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div id="access-logs-table"></div>
                    </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
