{% macro label_with_icon(form, fieldName, context) %}
    {% set label = form[fieldName] %}
    {% set tooltipKey = 'forms.' ~ context ~ '.help.' ~ fieldName %}
    <label class="form-label-text text-md xl:text-xs">
        {{ form_label(label) }}
        {% if tooltipKey|trans != tooltipKey %}
            <span class="form-label-span -mb-1"
                data-te-toggle="tooltip"
                data-te-html="true"
                data-te-ripple-init
                data-te-ripple-color="light"
                title="{{ tooltipKey|trans }}">
                {{ ux_icon('flowbite:question-circle-outline', {class: 'form-label-icon -pb-5'}) }}
            </span>
        {% endif %}
    </label>
{% endmacro %}

{% macro error_with_icon(form, fieldName) %}
    {% set label = form[fieldName] %}
    {% if form[fieldName].vars.errors|length > 0 %}
        <p class="text-red-500 text-md xl:text-xs italic">
            {{ ux_icon('flowbite:exclamation-circle-outline', {class: 'form-label-icon -pb-5'}) }}
            {{ form_errors(form[fieldName]) }}.
        </p>
    {% endif %}
{% endmacro %}

{% macro save_button(form) %}
    <button class="{{ form.save.vars.button_class }}">
        {{ ux_icon(form.save.vars.icon_before, {class: form.save.vars.icon_class ~ 'icon mr-1'})|raw }}{{ form.save.vars.label }}
    </button>
{% endmacro %}

{% macro cancel_button(form) %}
    <a href="{{ form.cancel.vars.url }}" class="iconed-button bg-red-500 hover:bg-red-700 text-white font-bold pl-3 rounded h-[2.5rem] pr-[1.25rem]">
        {{ ux_icon(form.cancel.vars.icon_before, form.cancel.vars.icon_class ~ 'icon mr-1 ')|raw }}{{ form.cancel.vars.label }}
    </a>
{% endmacro %}

{% macro reset_button(form) %}
    <button type="reset" class="iconed-button bg-gray-500 hover:bg-gray-700 text-white font-bold pl-3 rounded h-[2.5rem] pr-[1.25rem]">
        {{ ux_icon(form.reset.vars.icon_before, form.reset.vars.icon_class ~ 'icon mr-1 ')|raw }}{{ form.reset.vars.label }}
    </button>
{% endmacro %}

{% macro delete_button(form) %}
    <button class="iconed-button bg-red-500 hover:bg-red-700 text-white font-bold pl-3 rounded h-[2.5rem] pr-[1.25rem]">
        {{ ux_icon(form.delete.vars.icon_before, form.delete.vars.icon_class ~ 'icon mr-1 ')|raw }}{{ form.delete.vars.label }}
    </button>
{% endmacro %}
