{% macro infobox(context, message1, message2, external) %}
    {% set icon = context == 'info' ? 'bi:exclamation-octagon-fill' : 'bi:exclamation-octagon' %}
    <div class="mt-2 border-2 border-{{ context }} dark:border-{{ context }} rounded-lg bg-success-100 px-6 py-5 text-base text-success-700 bg-gray-200/75 dark:bg-gray-900/85 shadow-md" role="alert">
        <div class="flex justify-center">
            {{ ux_icon(icon, { class: 'w-8 h-8 mb-2 fill-' ~ context ~ ' dark:fill-' ~ context ~ ' text-' ~ context}) }}
        </div>
        <p class="mb-4 text-neutral-700 dark:text-neutral-200">
            {{ message1|trans }}
        </p>
        <hr class="border-neutral-700 dark:border-neutral-200 opacity-30" />
        <p class="mb-0 mt-4 text-neutral-700 dark:text-neutral-200">
            {% if external and message2 matches '/<a/' %}
                {{ message2|replace({'</a>.': ux_icon('bi:box-arrow-up-right', {class: 'w-4 h-4 ordinal inline-block ml-1 mb-2'}) ~ '</a>.'})|trans|raw }}
            {% else %}
                {{ message2|trans|raw }}
            {% endif %}
        </p>
    </div>
{% endmacro %}
