{% macro render_sidebar(sections, external) %}
    {% set currentPath = app.request.pathinfo %}
	<ul>
		<li class="mt-10 ml-3 pl-3 lg:m-0 lg:p-0 lg:mt-8">
			{% for section_title, links in sections %}
				<h4 class="mt-10 mb-2 lg:mb-0 lg:mt-3 font-semibold text-sky-500 dark:text-sky-400">{{ section_title }}</h4>
				<ul class="border-1 mb-4 border-slate-100 dark:border-slate-800">
					{% for path, label in links %}
						{% set isActive = currentPath starts with path %}
						<li>
							<a class="text-left block ml-3 pt-1 border-l-2 {{ isActive ? 'border-green-400' : 'border-slate-500' }} pl-4 hover:border-sky-400 dark:hover:border-sky-500 text-slate-600 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-600" href="{{ path }}">
                                {{ label }}
							{% if external[path] ?? false %}
								{{ heroicon('arrow-top-right-on-square', class='w-4 h-4 ordinal inline-block ml-1 mb-2') }}
							{% endif %}
							</a>
						</li>
					{% endfor %}
				</ul>
			{% endfor %}
		</li>
	</ul
{% endmacro %}
