{% macro render_sidebar(sections, external) %}
    <ul>
        <li class="mt-10 ml-3 pl-3 lg:m-0 lg:p-0 lg:mt-8">
            {% for section_title, links in sections %}
                <h4 class="mt-10 mb-2 lg:mb-0 lg:mt-3 text-base font-semibold text-sky-500 dark:text-sky-400">{{ section_title }}</h4>
                <ul class="mb-4">
                    {% for route_name, label in links %}
                        {% set path = path(route_name) %}
                        <li>
                            <a class="text-left block ml-3 pt-1 border-l-[3px] hover:font-semibold {{ is_active_route(route_name) ? 'font-semibold border-green-400 text-green-600 hover:text-green-800 dark:text-green-500 dark:hover:text-green-700' : 'border-slate-500 text-slate-600 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-600' }} pl-4 hover:border-sky-400 dark:hover:border-sky-500" href="{{ path }}" 
                                {% if external[route_name] ?? false %}
                                    target="_blank" rel="noopener noreferrer"
                                {% endif %}>
                                {{ label }}
                                {% if external[route_name] ?? false %}
                                    <span 
                                        class="form-label-span -mt-2" 
                                        data-te-toggle="tooltip" 
                                        data-te-html="true" 
                                        data-te-ripple-init 
                                        data-te-ripple-color="light" 
                                        title="Go to documentation">
                                        {{ heroicon('arrow-top-right-on-square', class='w-4 h-4 ordinal inline-block ml-1 mb-2') }}
                                    </span>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </li>
    </ul>
{% endmacro %}
