<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		{% import '_macros/brand_icon_macro.html.twig' as brand %}
		<title>
			{% block title %}Login - {{ app.request.server.get('SITE_NAME') }}
			{% endblock %}
		</title>
		{{ brand.favicon(settings.logo) }}
		{% block stylesheets %}
			{{ encore_entry_link_tags('login') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('login') }}
		{% endblock %}
	</head>
	<body class="bg-fixed bg-gray-100 dark:bg-gray-800" id="page-content">
		{% import '_macros/backdrop_macro.html.twig' as backdrop %}
		<div class="bottom-0 left-0 right-0 top-0 h-full w-full bg-fixed p-6 text-center background-cover text-white/80"
			{{ backdrop.splashscreen(settings) }}
			>
			{% block body %}{% endblock %}
		</div>
		<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
	</body>
</html>
