{% extends 'settings/base.html.twig' %}

{% block title %}Users - {{ app.request.server.get('SITE_NAME') }}{% endblock %}

{% block body %}
    {% import '_macros/settings_macro.html.twig' as settings_macro %}
    {% import '_macros/breadcrumb.html.twig' as breadcrumb %}
    {% import '_macros/form_macros.html.twig' as form_macros %}
    {% import '_macros/badge_macro.html.twig' as badge_macro %}
    {% import '_macros/profile_macro.html.twig' as profile_macros %}

    <div class="max-w-8xl md:mx-auto md:px-auto lg:px-6">
        <div class="xl:pt-[2.3615rem] pt-[15rem]">
            <div class="xl:pl-[25rem]">
                <div class="w-full mx-auto pt-10 xl:max-w-none xl:ml-4 rounded-xl mb-4">
                    {{ breadcrumb.add('Users List', 'https://mediaease.github.io/docs/') }}
                    {{ settings_macro.infobox(
                        'info',
                        'This page allows you to manage users. You can add, edit, and delete users. You can also manage user roles and permissions.',
                        'For detailed information, refer to the <a href="your-documentation-link" class="text-sky-500 dark:text-sky-400 hover:underline">Users</a> section in the documentation.',
                        'external'
                    ) }}
                    <div id="content-wrapper" class="relative px-4 pt-6 prose prose-slate mt-8 dark:prose-dark pb-3 mb-4">
                        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                            {% for u in users %}
                                <div class="bg-gray-200/85 dark:bg-gray-900/85 rounded-lg shadow-md hover:shadow-2xl p-4 relative">
                                    <div class="flex items-center pb-2">
                                        <div class="relative left-1/2 top-1/2 lg:top-1/3 -translate-x-1/2 w-48 h-48 lg:w-32 lg:h-32 rounded-full overflow-hidden">
                                            {{ profile_macros.avatar(u) }}
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <h2 class="text-lg font-semibold text-gray-900 dark:text-neutral-200 mb-2">{{ u.username }}</h2>
                                        <div class="text-sm text-gray-500 dark:text-gray-400 pb-3">
                                            {{ badge_macro.badge(u.roles|join(', '), 'user_role') }}
                                        </div>
                                    </div>
                                    <div class="my-4 text-left">
                                        <span class="text-sm font-semibold text-gray-900 dark:text-neutral-200">Group: {{ badge_macro.badge(u.group.name, 'user_group') }}</span>
                                        <p class="text-sm font-semibold text-gray-900 dark:text-neutral-200">Email: <span class="text-gray-600 dark:text-gray-400">{{ u.email }}</span></p>
                                        <p class="text-sm font-semibold text-gray-900 dark:text-neutral-200">Status: <span class="inline-flex items-center text-gray-600 dark:text-gray-400">{{ u.isVerified ? 'Verified' : 'Not Verified' }} {{ profile_macros.badge(u) }}</span></p>
                                    </div>
                                    <div class="mt-4 flex justify-between">
                                        <button class="bg-blue-500 text-white py-1 px-2 rounded">Edit</button>
                                        <button class="bg-red-500 text-white py-1 px-2 rounded">Ban</button>
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- Add User Card -->
                            <div class="flex items-center justify-center bg-gray-200/85 dark:bg-gray-900/85 rounded-lg shadow-md hover:shadow-2xl p-4 relative cursor-pointer" data-te-toggle="modal" data-te-target="#addUserModal">
                                <button
                                    type="button"
                                    class="inline-flex items-center rounded-full text-3xl font-medium uppercase leading-normal text-white transition duration-150 ease-in-out"
                                    data-te-ripple-init
                                    data-te-ripple-color="light">
                                    {{ ux_icon('heroicons:plus', {class: 'icon w-24 h-24 fill-white button-icon'}) }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add User Modal -->
    <div data-te-modal-init class="fixed left-0 top-0 z-[1055] hidden h-dvh w-full overflow-y-auto overflow-x-hidden outline-none" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-modal="true" role="dialog">
        <div data-te-modal-dialog-ref class="pointer-events-none relative flex min-h-[calc(100%-0.5rem)] w-1/2 mx-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out">
            {% include "components/content/users_list/modal/modale.html.twig" %}
        </div>
    </div>
{% endblock %}
